body
{
    background-color:#bababa;
}

h1
{
    color:#28699b;
    font-family:"Arial";
    text-align:left;
}

p
{
    font-family:"Arial";
    font-size:20px;
}

p.top
{
    font-family:"Arial";
    font-size:18px;
}

p.text
{
    font-family:"Arial";
    font-size:16px;
}

pre
{
    font-size:18px;  
}

a:link 
{
    text-decoration:none; 
    color:#000000;
}

a:visited 
{
    text-decoration:none; 
    color:#000000;
}

a:hover 
{
    text-decoration:underline; 
    color:#000000;
}

a:active
{
    text-decoration:none; 
    color:#000000;
}

#middle
{
    width:400px;
    margin: auto
}

#top 
{
    width:400px;
    margin: auto
}

hr
{  
    margin-left:0px;
    width:280px;
}
